@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128, 0.8) rgba(17, 24, 39, 0.4);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.4);
}

*::-webkit-scrollbar-thumb {
  background: rgba(107, 114, 128, 0.8);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 1);
}
